<!DOCTYPE html>

    <head>
        <meta content="text/htmlcharset=utf-8" http-equiv="Content-Type">
        <meta content="utf-8" http-equiv="encoding">
        <title>Login | Hermes Eye</title>
        <link rel="stylesheet" type="text/css" href="login.css">
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <style>
            .error{
                height: auto;
                width: auto;
                background: #ffb4b4;
                border-radius: 5px;
                border-left: 5px solid #ff0000;
                
                padding: 10px;

            }

            .message{
                height: auto;
                width: auto;
                background: #c6e9d7;
                border-radius: 5px;
                border-left: 5px solid #00c2cb;
                
                padding: 10px;

            }
        </style>
    </head>

    <body>
        <img src="img/HermesEye Banner.png" id="logo">
        
        <div class="box">

            <div class="button-box">
                <h1>Login to Account</h1>
            </div>

            <!-- LOGIN -->
            <form id="login" class="input-group" method="post" action="login">
                {{#if errors}}
                    <div class="error">{{errors}}</div>
                {{/if}}

                {{#if message}}
                    <div class="message">{{message}}</div>
                {{/if}}
            
                <input class="input-field" type="text" name="username" placeholder="Username" required> <br>
                <input class="input-field" type="password" name="password" placeholder="Password" required> <br>
                <input class="check-box" id="remember" type="checkbox" name="remember"><span>Remember me</span><br>
                <input class="form-btn" type="submit" value="Login">
            </form>

        </div>

        
        <script src="index.js"></script>
        <script src="login.js"></script>
    </body>
</html>