@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;800&display=swap");

main {
  padding: 10px;
}

#title_header {
  color: #1b3c65;
  text-transform: uppercase;
}

.header-banner {
  margin-top: 30px;
  text-align: center;
}

.header-banner h1 {
  font-size: 45px;
  text-transform: uppercase;
  font-family: "Nunito";
  font-weight: 800;
  color: #00c2cb;
}

#signout {
  display: block;
  width: fit-content;
  font-size: 25px;
  text-decoration: none;
  font-family: "Nunito";
  font-weight: 800;
  padding: 15px;
  border-radius: 10px;
  /* background-color: #c3e0e5; */
  background-color: #7acdf1;
  color: black;
  margin: 10px auto;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  transition-property: all;
}

#signout:hover {
  background-color: #1b3c65;
  color: white;
  margin: 10px auto;
}

/* NEW DESIGN BODY */
.profile-container {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  padding-bottom: 10px;
  flex-wrap: wrap;
  background: white;
  border-radius: 10px;
}

.accountInfo-body {
  padding: 10px 0;
}

.error {
  height: auto;
  font-size: 25px;
  font-weight: bold;
  width: 100%;
  text-align: center;
  background: #ffb4b4;
  border-radius: 5px;
  border-left: 5px solid #ff0000;
  border-right: 5px solid #ff0000;

  padding: 10px;
}

.message {
  height: auto;
  font-size: 25px;
  font-weight: bold;
  width: 100%;
  text-align: center;
  background: #c6e9d7;
  border-radius: 5px;
  border-left: 5px solid #00c2cb;
  border-right: 5px solid #00c2cb;

  padding: 10px;
}