@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;800&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background: #7acdf1;
  font-family: "Nunito";
}

.error {
  height: auto;
  width: auto;
  background: #ffb4b4;
  border-radius: 5px;
  border-left: 5px solid #ff0000;

  padding: 10px;
}

.message {
  height: auto;
  width: auto;
  background: #c6e9d7;
  border-radius: 5px;
  border-left: 5px solid #00c2cb;

  padding: 10px;
}

.icon-button {
  height: 36px;
  width: 40px;
}

main {
  padding: 10px;
  background: #7acdf1;
  align-items: center;
}

#title_header {
  color: #1b3c65;
  text-transform: uppercase;
}

/* FOR LOGO IN MAIN*/
#logo {
  display: block;
  height: 250px;
  width: auto;
  position: relative;
  align-content: center;
  margin: 0 auto;
}

/* FOR LOGIN/REGISTER */
.box {
  width: 380px;
  height: 480px;
  position: relative;
  margin: 0 auto 37px;
  border-radius: 25px;
  background: white;
  padding: 5px;
  overflow: hidden;

  font-family: "Nunito";
}

.button-box {
  width: auto;
  margin: 20px auto;
  position: relative;
  box-shadow: 0 0 10px 4px #7acdf1;
  border-radius: 30px;
}

.button-box h1 {
  padding: 10px 30px;
  background: transparent;
  border: 0;
  outline: none;
  position: relative;
  font-family: "Nunito";
  font-size: 18px;
  border-radius: 10px;
  text-transform: uppercase;
  font-weight: bold;
  width: auto;
  height: 100%;
  background: #7acdf1;
  text-align: center;
}

.input-group {
  padding: 0 10px;
}

.input-field {
  width: 100%;
  padding: 10px 0;
  margin: 5px 0;
  border: 0;
  border-bottom: 1px solid #999;
  outline: none;
  background: transparent;
  font-family: "Nunito";
}

.form-btn {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  width: 100%;
  padding: 8px 30px;
  cursor: pointer;
  display: block;
  margin: 10px auto;
  color: black;
  background: #7acdf1;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  transition-property: all;
}

.form-btn:hover {
  background: #1b3c65;
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.check-box {
  margin: 30px 10px 30px 0;
  zoom: 1.5;
}

.dropdownUser {
  margin: 10px 0px 15px;
}
